#temp{
	overflow-x: scroll;
	height:60%;
}
.AllOrCustom{
	margin-left:51px;
	color:#ffffff;
}
.link-title:hover{
	color:#a28c8c !important;
}
.send_all_temp{
	position:relative;
	top:-34px;
	right:-87px
}
#ExportImport{
	position: relative !important;
	top: -5px !important;
}
